<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magoarab_cdn>
            <general>
                <enabled>0</enabled>
                <debug_mode>0</debug_mode>
            </general>
            <github_settings>
                <branch>main</branch>
            </github_settings>
            <cdn_settings>
                <file_types>css,js</file_types>
            </cdn_settings>
        </magoarab_cdn>
    </default>
</config>